<!-- /*Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d*/
//-----------------------------
// @author : Publicis Sapient 
// ASR-2366
// @description : This class is used to Trigger Handler
//----------------------------- -->
<template>
    <template if:true={accessPermission}>      
            <template if:true={potentialMatches}>
                <lightning-card variant="base" icon-name="standard:choice">
                    <h1 slot="title">Potential Matches </h1>
                    <div class="slds-var-m-around_medium">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered ">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="Type">Type</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="DBA">Name/Doing Business As</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="FEINandAddress">Federal Id/ Situs Address
                                        </div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="BANandLIN">Business Account / Location
                                            Identification</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="AccountName">Property's Account Name</div>
                                    </th>
                                    <template if:false={disableSave}> 
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="Accept">Accept</div>
                                    </th>
                                    </template>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <template if:true={potentialMatches}>
                                    <template for:each={potentialMatches} for:item="child" for:index="index">
                                        <tr key={child.matchId}>
                                            <td>
                                                <div class="slds-cell-wrap" data-id={child.objectId} title="objectName">
                                                    {child.objectName}</div>
                                            </td>
                                            <td>
                                                <div class="slds-truncate" title="fieldNAMEOrDBA">{child.fieldNAMEOrDBA}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slds-cell-wrap" title="fieldFEINOrAddress">
                                                    {child.fieldFEINOrAddress}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slds-truncate" title="fieldBANOrLIN">{child.fieldBANOrLIN}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="slds-cell-wrap" title="propertyAccountName">
                                                    {child.propertyAccountName}
                                                </div>
                                            </td>
                                            <template if:false={disableSave}>                                                                               
                                            <td>
                                                <lightning-input type="checkbox" data-id={child.matchId}
                                                    data-objectname={child.objectName} value={child.objectId}
                                                    data-index={index} onchange={storeChange}>
                                                </lightning-input>
                                            </td>
                                        </template>                                     
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div slot="actions">
                        <div class="slds-var-p-around_xxx-small">
                            <lightning-button-group>
                                <lightning-button disabled={disableSave} label="Save Changes" variant="brand" icon-name="utility:save"
                                    onclick={saveChanges}>
                                </lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                    <div slot="footer">
                        <!-- any footer-->
                    </div>
                </lightning-card>
            </template>
            <!-- If no child record to display-->
            <template if:false={potentialMatches}>
                <div class="slds-box">
                    <div class="slds-align_absolute-center" style="height:5rem"> {label.noRecordReviewProcessorMessage}
                    </div>
                </div>
            </template>      
    </template>
    <template if:false={accessPermission}>
        <div class="slds-box">
            <div class="slds-align_absolute-center" style="height:5rem">
                {label.noAccessMessage}
            </div>
        </div>
    </template>
</template>