.THIS .slds-p-around--medium {
    padding: 0rem !important;
}       
.THIS .slds-modal__content{
    padding: 30px;
    overflow-y:hidden !important;
    height:unset !important;
    max-height:unset !important;
}
.THIS .outerBox{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}