<template>
    <div style="height: 22rem;overflow:auto;" class="slds-m-bottom_medium">
        <lightning-card>
            <h3 slot="title" style="font-weight:bold;"> 
                <lightning-icon icon-name="standard:action_list_component"
                class="slds-m-right_small" size="small"></lightning-icon>
                Async Apex Jobs Status
            </h3>
            <lightning-button label="Refresh" onclick={loadAsyncApex} slot="actions">
            </lightning-button>
            <p class="slds-p-horizontal_small">
                <lightning-datatable
                    class="slds-table_bordered slds-table_col-bordered"
                    show-row-number-column="true"
                    hide-checkbox-column="true" 
                    data={currentApexJobs} columns={apexColumns} 
                    key-field="Id">
                </lightning-datatable>
            </p>
        </lightning-card>
    </div>
    <div style="height: 22rem;overflow:auto;">
        <lightning-card>
            <h3 slot="title" style="font-weight:bold;">
                <lightning-icon icon-name="action:remove" class="slds-m-right_small" size="x-small"></lightning-icon>
                Batch Job Errors
            </h3>
            <lightning-button label="Refresh" onclick={loadSection} slot="actions">
            </lightning-button>
            <p class="slds-p-horizontal_small">
                <lightning-datatable 
                    hide-checkbox-column="true" 
                    data={failedJobs} columns={columns} 
                    key-field="Id"
                    onrowaction={handleRowAction}>
                </lightning-datatable>
            </p>
        </lightning-card>
    </div>
    

</template>