/* .THIS .slds-form {
    min-height: 300px;
} */
.THIS .orange-border-bottom {
    border-bottom: 4px solid rgb(227, 128, 61);
}
.THIS .slds-path__item > span {
    height: calc(2rem - 0.25rem);
    padding: .5rem .25rem .5rem .5rem;
}
.THIS .slds-path__link:hover, .THIS .slds-path__item:hover {
    cursor: default;
}
/* .THIS .slds-is-current {
    color: white;
} */
.THIS .slds-theme_shade {
    background-color: rgb(227, 128, 61);
    color: white;
    font-weight: bold;
}
.THIS .slds-path__nav .slds-is-won .slds-path__link {
    color:white;
}