<!--
/*Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d*/
//-----------------------------
// @author : Publicis Sapient 
// @story number : ASR-8548 
// @description : This class is used to .
//-----------------------------
-->

<apex:page standardController="Case" extensions="AdjustAssessmentController" lightningStylesheets="true">

    <apex:form >
        <apex:actionFunction name="Update" action="{!redirect}" oncomplete="redirectToCase('{!baseURL}','{!recordStatus}');" reRender=""
        />
    </apex:form>
    <!-- Generic Component to perform action -->
    <c:GenericCaseActionButtonComponent actionName="Update" />
</apex:page>