<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<apex:page showHeader="false" cache="true" controller="CertificationDisplayController">
    <div class="slds-col slds-m-top_medium slds-size_1-of-1" style="border: none" id="container">
        <table style="margin:2%; width:96%">
            <tr>
                <td>
                    <img src="{!$Resource.CCSFLogo}" style="height:100px; width:100px; margin-left:30px;"/>
                </td>
            </tr>
        </table>

        <table style="width:100%">
            <tr>
                <td>
                    <div><p><center><b>Certification Complete</b></center></p></div>
                    <div><p><center>Thank you for electronically filing. Listed below is your confirmation number.
                        </center></p></div>
                    <div class="slds-align_absolute-right" style="height:5rem">
                        <table class="slds-table slds-table_cell-buffer slds-table_header-hidden" align="center">
                            <tr>
                                <th><div style="float:right;" title="Statement Type">{!$Label.StatementType}: &nbsp;&nbsp;</div></th>
                                <th><div  title="StatementType">{!Statement.Form__c}</div></th>
                            </tr>
                            <tr>
                                <th><div style="float:right;" title="Property Id">{!$Label.PropertyId}: &nbsp;&nbsp;</div></th>
                                <th><div  title="PropertyId">{!Statement.PropertyId__c} </div></th>
                            </tr>
                            <tr>
                                <th><div style="float:right;" title="Confirmation Number">{!$Label.ConfirmationNumber}: &nbsp;&nbsp;</div></th>
                                <th><div  title="ConfirmationNumber">{!Statement.Name}</div></th>
                            </tr>
                            <tr>
                                <th><div style="float:right;" title="Date of Submission">{!$Label.DateofSubmission}:&nbsp;&nbsp; </div></th>
                                <th><div  title="DateofSubmission">
                                    <apex:outputPanel >
                                        <apex:outputText value="{0, date, MMMM d','  yyyy}">
                                            <apex:param value="{!Statement.FileDate__c}" />
                                        </apex:outputText>
                                    </apex:outputPanel>
                                </div></th>
                            </tr>

                        </table>
                    </div>
                    <div ><center><p><b>
                        You may view your e-Filed statement by clicking “{!$Label.ViewStatement}” below.</b></p></center>
                    </div>
                </td>
            </tr>
        </table>
        <br></br>
        <div >
            <center><p style="color: #2B3856"><b>
                <apex:outputLink onclick="window.print();return false;">{!$Label.Print}</apex:outputLink>
                <span style="margin: 0 40px;" />
                <apex:outputLink target="_top" value="/{!Statement.id}">{!$Label.ViewStatement}</apex:outputLink>
            </b></p></center>
        </div>
    </div>
</apex:page>