<apex:page standardController="Account" extensions="UpdateAccountNoticeTypeController" recordSetVar="accounts" lightningStylesheets="true"> 
    <apex:form >
        <apex:actionFunction name="Update" action="{!redirect}" oncomplete="redirectToListView('{!recordStatus}');"/>     
    </apex:form>
    
    <script type = "text/javascript">
    window.onload=function() 
    { 
        Update(); 
    };
    
    function redirectToListView(recordStatus)
    {
        let response = recordStatus;
        let goodStatus = "{! $Label.UpdateAccountNoticeType}";
        let success = response === goodStatus;
        if(sforce) {
            sforce.one.back();
            if(success){
                sforce.one.showToast({
                    "title": "Response",
                    "message": response,
                    "type": "success"
                });
            }else{
                sforce.one.showToast({
                    "title": "Error",
                    "message": response,
                    "type": "error"
                });       
            }
        }else{
            window.history.back();
           if(success){
                alert(response);
            } else {
                alert(response);
            }
        }  
    }
    </script>
</apex:page>