<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<template>
    <div class="modal-header slds-modal__header slds-size_1-of-1" style="margin-bottom: 25px;">
        <h4 class="title slds-text-heading--medium">Manage Exemption</h4>
    </div>
    <div style="margin-bottom: 25px;">
        <lightning-progress-indicator current-step={currentStep} type="path" variant="base">
            <template for:each={steps} for:item="step">
                <lightning-progress-step label={step.label} value={step.value} key={step.value} onclick={handleOnClick}
                    data-id={step.value}></lightning-progress-step>
            </template>
        </lightning-progress-indicator>
    </div>

    <template if:true={showTableOne}>
        <lightning-datatable data={fetchedAssessments} columns={COLUMNS} key-field="casenumber">
        </lightning-datatable>

        <div class="slds-m-left_x-small" style="margin-bottom:25px;margin-top:25px;">
            <lightning-button variant="brand" class="slds-m-left_x-small" label="Next" title="Next" onclick={handleNextClick}></lightning-button>
        </div>
    </template>
 
    <template if:false={showTableOne}>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">

                    <th scope="col">
                        <div class="slds-truncate" title="Assessment Year">Assessment Year</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Total Assessed Value">Total Assessed
                            Value</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Exempt Percent">Exempt Percent</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Exempt Amount">Exempt Amount</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Exempt Penalty">Exempt Penalty</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Case Number">Case Number</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={selectedRecords} for:item="assessment"> 
                    <tr key={assessment.Id}>

                        <th scope="col">
                            <div class="slds-truncate;">{assessment.AssessmentYear__c}</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate">
                                <p><lightning-formatted-number value={assessment.TotalAssessedValue__c} format-style="currency" currency-code="USD" ></lightning-formatted-number></p>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate">
                                <lightning-input formatter="percent-fixed" step="0.01" name="exemptPercent" variant="label-hidden" value={assessment.PercentExempt__c} data-id={assessment.Id} onblur = {handleDataChange}>
                                </lightning-input>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate">
                                <lightning-input formatter="currency" step="0.01" name="exemptAmount" variant="label-hidden" value={assessment.ExemptAmountManual__c} data-id={assessment.Id} onblur = {handleDataChange}>
                                </lightning-input>
                            </div>
                        </th> 
                        <th scope="col">
                            <div>
                                <template if:true={assessment.ExemptionPenalty__c}>
                                    <c-custom-lookup selected-value={assessment.ExemptionPenalty__r.Name} selected-record-id = {assessment.ExemptionPenalty__c} table-record ={assessment} in-table="true" object-api-name="penalty__c" onrecordselection={onPenaltySelection}> </c-custom-lookup>
                                </template>
                                <template if:false={assessment.ExemptionPenalty__c}>
                                    <c-custom-lookup table-record ={assessment} in-table="true" object-api-name="penalty__c" onrecordselection={onPenaltySelection}> </c-custom-lookup>
                                </template>
                            </div>

                        </th>
                        <th scope="col">
                            <div style="width: 50px;">{assessment.CaseNumber}</div>
                        </th>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="slds-m-left_x-small" style="margin-bottom:25px;margin-top:25px;">
            <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveData}></lightning-button>
        </div>
    </template>
</template>