<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<template>
  <div class="slds-form-element">
    <template if:false={inTable}>
      <label class="slds-form-element__label" for="combobox-id-2">{lookupLabel}</label>
    </template>
    <div class="slds-form-element__control">
      <div class="slds-combobox_container">
        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true"
          aria-haspopup="listbox" role="combobox">
          <template if:true={selectedValue}>
            <div data-key="pilldiv"
              class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
              <span class="slds-icon_container slds-icon-standard-account slds-combobox__input-entity-icon"
                title="object">
                <div class="slds-icon slds-icon_small" aria-hidden="true">
                  <lightning-icon icon-name={iconName} size="small"></lightning-icon>
                </div>

                <span class="slds-assistive-text">Record</span>
              </span>

              <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id-5"
                aria-controls="listbox-id-5" role="textbox" placeholder="Select an Option" readonly
                value={selectedValue} title={selectedValue} />
              <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                onclick={removeRecordOnLookup} title="Remove selected option">
                <span class="slds-button__icon" aria-hidden="true">
                  <lightning-icon icon-name="utility:close" size="xx-Small"
                    class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                  </lightning-icon>
                </span>
                <span class="slds-assistive-text">Remove selected record</span>
              </button>
            </div>
          </template>

          <template if:false={selectedValue}>
            <div data-key="searchdiv" class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
              role="none">
              <input type="text" onfocusout= {onLeave} value={searchKey} onkeyup={handleKeyChange} onchange={handleKeyChange}
                class="slds-input slds-combobox__input slds-has-focus" id="combobox-id-2" aria-autocomplete="list"
                aria-controls="listbox-id-2" role="textbox" placeholder="Search..." />
              <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                <lightning-icon icon-name="utility:search" size="xx-Small"
                  class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                </lightning-icon>
              </span>
            </div>

            <template if:true={recordsList}>
              <div id="listbox-id-2-venu" data-key="dropdownresult"
                class="slds-show slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                  <template if:true={message}>
                    <center>{message}</center>
                  </template>
                  <template for:each={recordsList} for:item="record">
                    <li id={record.Id} key={record.Id} onclick={onRecordSelection} role="presentation"
                      class="slds-listbox__item">
                      <div data-key={record.Id} data-name={record.Name}
                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                        role="option">
                        <span class="slds-media__figure slds-listbox__option-icon">
                          <span class="slds-icon_container">
                            <lightning-icon icon-name={iconName} size="small"></lightning-icon>
                          </span>
                        </span>

                        <span class="slds-media__body">
                          <span data-key={record.Id} data-name={record.Name}
                            class="slds-listbox__option-text slds-listbox__option-text_entity">{record.Name}
                          </span>
                        </span>
                      </div>
                    </li>
                  </template>
                </ul>
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>