<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<template>
    <div class="entireTemplate">
        <!-- Creating Header -->
        <div class="slds-page-header">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                                <lightning-icon icon-name="action:new_child_case" size="medium"></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate"
                                            title="Contact Customer Support">Contact Customer Support</span>
                                    </h1>
                                </div>
                            </div>
                            <p class="slds-page-header__name-meta">Tell us how we can help.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Creating Body. -->
        <div class="slds-grid slds-wrap slds-m-top_medium">
            <div class="slds-col slds-size_1-of-1">
                <lightning-combobox required name="progress" label="Type" value={value} options={options}
                    onchange={handleComboboxChange}>
                </lightning-combobox>
            </div>
            <div class="slds-col slds-size_1-of-1">
                <lightning-file-upload label="Upload File" name="uploadFile" accept={acceptedFormats}
                    record-id={myUserId} onuploadfinished={handleUploadFinished}>
                </lightning-file-upload>

                <p class="slds-form-element__label">File Name: {fileName}</p>

            </div>
        </div>

        <!--Showing the Replacement Notice Section -->
        <template if:true={replacementNotice}>
            <div class="slds-m-top_small slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning"
                role="alert">
                <span class="slds-assistive-text">Info</span>
                <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small">
                </span>
                <h2>
                    Note: Replacement Notice will be sent to the address in our records.
                </h2>
                <div class="slds-notify__close">

                </div>
            </div>
            <div class="slds-grid slds-wrap slds-m-top_medium">
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="accountName" label="Account Name" onchange={handleChange}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="doingBusinessAs" label="Doing Business As"
                        onchange={handleChange}></lightning-input>
                </div>
            </div>
        </template>

        <!--Showing the New Business Section -->
        <template if:true={newBusiness}>
            <div class="slds-grid slds-wrap slds-m-top_medium">
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="accountName" label="Business Owner" field-level-help="Legal ownership name of your business" onchange={handleChange}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-m-bottom_small">
                    <lightning-input required type="text" data-id="doingBusinessAs" label="Doing Business As"
                        onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-p-around_small slds-size_1-of-1" style="background-color:rgb(208, 234, 255);">
                    <div class="slds-col slds-size_1-of-1">
                        <h1 style="font-weight: bolder; border-bottom: 2px solid black;">Enter your business location</h1>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input required type="text" data-id="addressInput"
                            label="Address [Please enter street address only]" onchange={handleChange}></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input required type="text" pattern="[0-9]{5}" data-id="zipCode" label="Zip Code"
                            onchange={handleChange} message-when-pattern-mismatch="Please enter 5 numbers">
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-p-top_small">
                        <lightning-button variant="brand" label="Validate with USPS" icon-name="utility:search"
                            title="Validate Address" onclick={handleSearch}></lightning-button>
                    </div>
                    <template if:true={searchResult}>
                        <div class="slds-p-around_medium">
                            <h1 class="slds-text-title_bold">USPS Result</h1>
                            <ul>
                                <li>{searchResult.Street}</li>
                                <li>{searchResult.City}, {searchResult.State}&nbsp;{searchResult.Zip5} -
                                    {searchResult.Zip4}</li>
                            </ul>
                            <lightning-button label="Confirm Address" variant="brand" onclick={setValidationResult}>
                            </lightning-button>
                            <lightning-button label="Clear" class="slds-m-left_small" variant="destructive"
                                onclick={clearResult}></lightning-button>
                        </div>
                    </template>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-textarea required name="newBusinessLocation" disabled value={newBusinessLocationValue}
                        data-id="newBusinessLocationField" label="New Business Location Address"></lightning-textarea>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required class="businessDate" type="date" data-id="businessStartDate" label="Business Location Start Date" onchange={handleChange}></lightning-input>
                </div>
            </div>
        </template>

        <!--Showing the New Vessel Section -->
        <template if:true={newVessel}>
            <div class="slds-grid slds-wrap slds-m-top_medium">
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="vesselOwner" label="Owner" onchange={handleChange}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="vesselName" label="Vessel Name" onchange={handleChange}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-combobox required name="vesselIdType" label="Vessel ID Type" options={vesselOptions}
                        onchange={handleVesselTypeChange}>
                    </lightning-combobox>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required class="cVesselID" type="text" data-id="vesselId" label="Vessel ID" maxlength="8" pattern="([a-zA-Z0-9]{1,8})"
                                message-when-pattern-mismatch="Vessel ID can be 8 characters long. Special characters are not allowed." 
                                onchange={handleChange}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required type="text" data-id="vesselLocation" label="Location of Vessel"
                        onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input type="text" data-id="fishGameBoat" label="Fish & Game Boat Number"
                        onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input required  class="businessMoved" type="date" data-id="dateBusinessMoved" label="Date Vessel Moved into San Francisco"
                        onchange={handleChange}></lightning-input>
                </div>
            </div>
        </template>
        
        <!--Showing the Other Section -->
        <template if:true={otherSection}>
            <div class="slds-col slds-size_1-of-1">
                <lightning-input required type="text" data-id="subjectField" label="Subject" onchange={handleChange}>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-1">
                <lightning-textarea required name="Description" data-id="descriptionField" label="Description"
                    onchange={handleChange}></lightning-textarea>
            </div>
        </template>

        <!--Submit Action -->
        <div class="slds-m-top_large">
            <lightning-button disabled={disableButton} variant="brand" label="Submit" title="Submit"
                onclick={handleSubmit}></lightning-button>
        </div>
    </div>
</template>