<!--/*Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d*/
//-----------------------------
// @author : Publicis Sapient 
// ASR: 7736
// @description : This web component is used to allow taxpayer to Clone Statement and its child(StatementReportedAssets) and 
// grand child(ReportedAssetSchedule), so they can amend their current rollyear filing
//------------------------------ -->
<template>
  <div class="container">
    <!--The Button will be displayed if Statement is with Submitted Status -->
    <template if:true={displayAmendStatement}>
      <div class="slds-align_absolute-center" style="height: 5rem;">
        <lightning-button variant="brand" label="Amend this Filing?" title="Amend Statement"
          disabled={disableAmendStatement} onclick={cloneStatementForAmendment} class="slds-var-m-left_x-small">
        </lightning-button>
      </div>
    </template>
    <!-- Spinner -->
    <div if:true={isCloning} class="slds-is-relative">
      <lightning-spinner alternative-text="Loading..." variant="brand">
      </lightning-spinner>
    </div>
  </div>
</template>