<!-- /*Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d*/
//-----------------------------
// @author : Publicis Sapient 
// ASR-2366
// @description : This class is used to Trigger Handler
//----------------------------- -->

<template>
    <template if:true={accessPermission}>
        <template if:true={showComponent}>
            <template if:true={stagingCompareRecords}>
                <!-- If record is available-->
                <lightning-card variant="base" icon-name="standard:choice">
                    <h1 slot="title">Correction Record </h1>
                    <div class="slds-var-m-around_medium">
                        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="ObjectName">Object</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="FieldName">Field</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="ExistingValue">Existing Value</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="IntegrationValue">Integration Value</div>
                                    </th>
                                    <th class="" scope="col">
                                        <div class="slds-cell-wrap" title="Accept">Accept</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template if:true={stagingCompareRecords}>
                                    <template for:each={stagingCompareRecords} for:item="child" for:index="index">
                                        <tr key={child.recordId}>
                                            <td>
                                                <div class="slds-cell-wrap">{child.objectName}</div>
                                            </td>
                                            <td>
                                                <div class="slds-cell-wrap">{child.fieldLabel}</div>
                                            </td>
                                            <td>
                                                <div class="slds-cell-wrap">{child.existingValue}
                                                </div>
                                            </td>
                                            <td>
                                                <!-- BUG -ASR - 10522 -->
                                                <div class="slds-cell-wrap">{child.integrationValue}                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <lightning-input type="checkbox" data-id={child.recordId}
                                                    value={child.fieldLabel} data-accountid={child.mappedAccountId}
                                                    data-integration={child.integrationValue}
                                                    data-fieldapi={child.fieldAPINameForUpdate}
                                                    data-fieldstage={child.fieldAPINameOfStage}
                                                    data-objectname={child.objectName} data-parentid={child.parentId}
                                                    data-propertyid={child.mappedPropertyId} onchange={storeChange}>
                                                </lightning-input>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div slot="actions">
                        <div class="slds-var-p-around_xxx-small">
                            <lightning-button-group>
                                <lightning-button label="Save Changes" variant="brand" icon-name="utility:save"
                                    onclick={saveChanges}>
                                </lightning-button>
                                <lightning-button label="Ignore Change" variant="destructive" icon-name="utility:delete"
                                    onclick={noChanges}></lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                    <div slot="footer">
                        <!-- any footer-->
                    </div>
                </lightning-card>
            </template>
            <!-- If no child record to display-->
            <template if:false={stagingCompareRecords}>
                <div class="slds-box">
                    <div class="slds-align_absolute-center" style="height:5rem"> {label.noRecordReviewProcessorMessage}
                    </div>
                </div>
            </template>
        </template>
        <!-- If Status is Processed and no changes for review-->
        <template if:true={showGenericMessage}>
            <div class="slds-box">
                <div class="slds-align_absolute-center" style="height:5rem">
                    {label.successReviewProcessorMessage}
                </div>
            </div>
        </template>
    </template>
    <template if:false={accessPermission}>
        <div class="slds-box">
            <div class="slds-align_absolute-center" style="height:5rem">
                {label.noAccessMessage}
            </div>
        </div>
    </template>
</template>