<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<apex:page showHeader="false" cache="true" renderAs="PDF" controller="CertificationDisplayController">
    <apex:includeLightning />
    <div class="slds-col slds-m-top_medium slds-size_1-of-1" style="border: none" id="container">
        <div class="slds-text-heading_medium">
            <div style="height:5rem;">
                <table style="width: 100%;">
                    <tr>
                        <td><p style="margin-left: 2%;">
                            <apex:outputPanel >
                                <apex:outputText value="{0, date, MM/dd/yyyy}">
                                    <apex:param value="{!NOW()}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            </p></td>
                        <td><p style="margin-left: 20%;">EFile: Certification Complete</p></td></tr>
                </table>
            </div> 
        </div>
        <div style="text-align:right;margin-right: 2%;">
            		<p ><b>Carmen Chu</b> <br></br>
                        Assessor-Recorder <br></br>
                    	1155 Market Street, 5th Floor <br></br>
                		San Francisco, CA 94103 <br></br>
                		(415) 554-5531 <br></br>
                		<b>askbpp@sfgov.org</b> <br></br>
                		<b style="color:gray;">{!$Label.LogOff}</b> 
					</p>
        </div>
        <div>
            <p ><b style="margin-left: 2%;">{!Statement.Form__c} Statement - 
                <apex:outputPanel >
                    <apex:outputText value="{0, date, yyyy}">
                        <apex:param value="{!NOW()}" />
                    </apex:outputText>
                </apex:outputPanel></b> 
                <b style="float:right;margin-right: 2%;">{!$Label.PropertyId} :
                    <b style="color: #2B3856">{!Statement.PropertyId__c}</b></b>
            </p>
        </div>
		<img src="{!$Resource.CCSFLogo}" width="15%" height = "15%"/>
        <div class="slds-p-horizontal_medium">
            <div><p><center><b>Certification Complete</b></center></p></div>
            <div><p><center>Thank you for electronically filling form {!Statement.Form__c}. Listed below is your confirmation number.
                </center></p></div>
            <div class="slds-align_absolute-right" style="height:5rem">
                <table class="slds-table slds-table_cell-buffer slds-table_header-hidden" align="center">
                    <tr>
                        <th><div style="float:right;white-space: nowrap;" title="Statement Type">{!$Label.StatementType}: </div></th>
                        <th><div  title="StatementType">{!Statement.Form__c}</div></th>
                    </tr>
                    <tr>
                        <th><div style="float:right;" title="Property Id">{!$Label.PropertyId}: </div></th>
                        <th><div  title="PropertyId">{!Statement.PropertyId__c} </div></th>
                    </tr>
                    <tr>
                        <th><div style="float:right;" title="Confirmation Number">{!$Label.ConfirmationNumber}: </div></th>
                        <th><div  title="ConfirmationNumber">{!Statement.Name}</div></th>
                    </tr>
                    <tr>
                        <th><div style="float:right;" title="Date of Submission">{!$Label.DateofSubmission}: </div></th>
                        <th><div  title="DateofSubmission">
                            <apex:outputPanel >
                                <apex:outputText value="{0, date, MMM dd','yyyy','hh:mm:ss a}">
                                    <apex:param value="{!NOW()}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            </div></th>
                    </tr>
                </table>
            </div>
            <div ><p><b>
                You may view your e-Filed statement by clicking “{!$Label.ViewStatement}” below.</b></p>
            </div>
            <br></br>
		</div>
	</div>
</apex:page>