<apex:page standardController="DocumentGenerationRequest__c" extensions="MassApprovalController" recordSetVar="records" lightningStylesheets="true"> 
    <apex:form >
        <apex:actionFunction name="approve" action="{!approveActionFunction}" oncomplete="redirectToListView('{!recordStatus}');" reRender=""/>     
    </apex:form>
    
    
    <script type = "text/javascript">
    window.onload=function() 
    { 
        approve(); 
    };
    
    function redirectToListView(recordStatus)
    {
        var response = recordStatus;
        if (typeof sforce != 'undefined' && sforce!= null) {
            sforce.one.back(true);            
            sforce.one.showToast({
                "title": "Response",
                "message": response
            });
        }else{
            sforce.one.back(true);
            sforce.one.showToast({
                "title": "Error",
                "message": "Some erorr occured",
                "type" : "error"
            });        
        }  
    }
    </script>
</apex:page>