<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d-->
<!-- ASR-8469 VF page responsible to generate PDF for 571-L forms-->
<!-- ASR-10437 Added new fields and changed formatting -->
<apex:page showHeader="false" cache="true" renderAs="PDF" controller="PrintPDF571LController">
    <head>
        <title>Print {!Statement.Form__c}</title>
    </head>
    <apex:includeLightning />
    	<div class="slds-col slds-m-top_medium slds-size_1-of-1" style="border: none" id="container">
            <h3>{!Statement.Form__c} : Business Personal Property Statement</h3>
            <p><b>Property:</b>  {!Statement.Property__r.name}</p>
    		<p><b>Property ID:</b> {!Statement.PropertyId__c}</p>

            <div class="slds-text-heading_medium">
                <div style="{!IF(Statement.Form__c != '571-LA', 'display:block', 'display:none')}" >
                    <table style="width: 100%;border-collapse:collapse;">
                        <tr>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>1. Supplies</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>2. Equipment</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>3. Leased Equipment</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>4. Construction in Progress</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>5. Leasehold Improvements</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>6. Total Reported Cost</p></td>
                        </tr>
                        <tr>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.Supplies__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.Equipment__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.LeasedEquipment__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.ConstructioninProgress__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.LeaseholdImprovements__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalReportedAssets__c}</td>
                        </tr>
                    </table>
                </div> 
                <div style="{!IF(Statement.Form__c == '571-LA', 'display:block', 'display:none')}" >
                    <table style="width: 100%;border-collapse:collapse;">
                        <tr>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>1. Total Counterlines Partitions etc Cost</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>2. Total Signs Camera TV Equipment etc Cost</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>3. Total Carpets Drapes Cost</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>4. Total ATMs Cost</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>5. Total Vault Door Night Depositories Cost</p></td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;"><p>6. Total Drive-up/Walk-up Window Kiosk Cost</p></td>
                        </tr>
                        <tr>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalCounterlinesPartitionsetcCost__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalSignsCameraTVEquipmentetcCost__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalCarpetsDrapesCost__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalATMsCost__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalVaultDoorNightDepositoriesCost__c}</td>
                            <td style="width: 20px;word-wrap:break-word;border: 1px solid silver;">${!Statement.TotalDriveupWalkupWindowKioskCost__c}</td>
                        </tr>
                    </table>
                </div> 
            </div>
        	<br></br>
            <h4>My Property Location</h4>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;">
                    <table style="width: 100%;table-layout:fixed;">
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;">Name</td>
                            <td style="width: 50%;word-wrap:break-word;">Mailing Address</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.FilerName__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.MailingAddress__c}</td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;word-wrap: break-word">
                    <table style="width: 100%;table-layout:fixed;">
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;">Property Name</td>
                            <td style="width: 50%;word-wrap:break-word;">Roll Code</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.Property__r.name}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.RollCode__c}</td>
                        </tr>
                    </table>
                </div>
        	</div>
            <br></br>
            <h4>Part I: General Information</h4>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;">
                    <table style="width: 100%;table-layout:fixed;">
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;">a. Select type of business</td>
                            <td style="width: 50%;word-wrap:break-word;">Select subtype of business</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.BusinessType__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.BusinessSubtype__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">b. Enter local telephone number</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">Email Address</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.BusinessPhone__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.ContactEmailAddress__c}</td>
                        </tr>
                        <tr>
                           <td style="width: 50%;word-wrap:break-word;">Fax Number:</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.FaxNumber__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">c. Do you own the land at this business location?</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">If yes, is the name on your deed recorded as shown on this statement?</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.OwnLandatBusinessLocation__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.NameonDeedRecordedasShown__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">d. When did you start business at this location?</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">If your business name or location has changed from last year, enter the former name and/or location</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">
                                <apex:outputPanel >
                                    <apex:outputText value="{0, date, MM/dd/yyyy}">
                                        <apex:param value="{!Statement.StartofBusinessatthisLocation__c}" />
                                    </apex:outputText>
                                </apex:outputPanel>
                             </td>
                             <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.FormerBusinessName__c}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 100%;word-wrap:break-word;padding-top:10px;">e. Enter location of general ledger and all related accounting records (include zip code):</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 100%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.AccountingAddress__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">f. Name of authorized person to contact at location of accounting records</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:10px;">Telephone number of authorized person to contact at location of accounting records</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.AccountingContactName__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.AccountingContactNumber__c}</td>
                        </tr>
                        <tr>
                            <td  colspan="2" style="width: 100%;word-wrap:break-word;"><p>g. During the period of January 1, 
                                <apex:outputPanel >
                                    <apex:outputText value="{0, date, yyyy}">
                                        <apex:param value="{!NOW()}" />
                                    </apex:outputText>
                                </apex:outputPanel>  
                                through December 31, 
                                <apex:outputPanel >
                                    <apex:outputText value="{0, date, yyyy}">
                                        <apex:param value="{!NOW()}" />
                                    </apex:outputText>
                                </apex:outputPanel></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;">(1) Did any individual or legal entity (corporation, partnership, limited liability company, etc.) acquire a "controlling interest" (see instructions for definition) in this business entity?</td>
                            <td style="width: 50%;word-wrap:break-word;">(2) If YES, did this business entity also own "real property" (see instructions for definition) in California at the time of
                                the acquisition?</td>    
                        </tr>
                        <tr>
                            <td style="width: 100%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.ControllingInterest__c}</td>
                            <td style="width: 100%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.RealPropertyAtTimeOfAcquisition__c}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 100%;word-wrap:break-word;padding-top:10px;">(3) If YES to both questions (1) and (2), filer must submit form BOE-100-B, Statement of Change in Control and Ownership of
                                                Legal Entities, to the State Board of Equalization. See instructions for filing requirements.</td>
                        </tr>
                    </table>
                </div> 
            </div>
            <br></br>
            <h4>Part II: Property Belonging to Me</h4>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;">
                    <table style="width: 100%;border-collapse:collapse;">
                        <tr style="page-break-inside: avoid;">
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Asset Classification</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Acquisition Year</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Property Category</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Last Year's Assessed Cost</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">This Year's Reported Cost</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Description of This Year's Reported Cost</th>
                        </tr>
                        <apex:repeat value="{!StatementReportedAssets}" var="att">
                            <tr>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.Subcategory__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.AcquisitionYear__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.Category__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.NetValueChangedfromLastYear__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.Cost__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att.Description__c}</td> 
                            </tr>
                        </apex:repeat>
                    </table>
                </div> 
                <table style="width: 100%;">
                    <tr>
                        <td style="width:100%;word-wrap:break-word;padding-top:15px;">
                            I certify that I have no individual Asset Classification Line Items: 
                            <apex:outputText value="{!IF(Statement.CertifiedNoAssetLineItems__c, ' Yes', ' No')}" />
                        </td>
                    </tr>
                </table>
            </div>
            
            <div style="{!IF(ReportedAssetsWithSchedule.size != 0, 'display:block', 'display:none')}" >
                <p><b>Part II: Schedule D</b></p>
            </div>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;">
                    <apex:repeat value="{!ReportedAssetsWithSchedule}" var="att">
                        <apex:outputText >
                            <p>You have reported a cost of {!att.Cost__c} in {!att.Subcategory__c} with acquisition year {!att.AcquisitionYear__c} for a Net change of {!att.NetValueChangedfromLastYear__c}.</p>
                        </apex:outputText>
                        <div class="slds-text-heading_medium">
                            <div style="height:5rem;">
                                <table style="width: 100%;border-collapse:collapse;">
                                    <tr style="page-break-inside: avoid;">
                                        <th style="width: 20%;word-wrap:break-word;border:1px solid silver;">Type</th>
                                        <th style="width: 10%;word-wrap:break-word;border:1px solid silver;">Month of Addition/Disposal</th>
                                        <th style="width: 10%;word-wrap:break-word;border:1px solid silver;">Year of Addition/Disposal</th>
                                        <th style="width: 20%;word-wrap:break-word;border:1px solid silver;">Cost</th>
                                        <th style="width: 40%;word-wrap:break-word;border:1px solid silver;">Description</th>
                                    </tr>
                                    <apex:repeat value="{!att.ReportedAssetSchedules__r }" var="att">
                                        <tr>
                                            <td style="width: 20%;word-wrap:break-word;border:1px solid silver;">{!att.Type__c}</td>
                                            <td style="width: 10%;word-wrap:break-word;border:1px solid silver;">{!att.Addition_Disposal_Month__c}</td>
                                            <td style="width: 10%;word-wrap:break-word;border:1px solid silver;">{!att.Addition_Disposal_Year__c}</td>
                                            <td style="width: 20%;word-wrap:break-word;border:1px solid silver;">{!att.Cost__c}</td>
                                            <td style="width: 40%;word-wrap:break-word;border:1px solid silver;">{!att.Description__c}</td> 
                                        </tr>
                                    </apex:repeat>
                                </table>
                            </div> 
                        </div>
                    </apex:repeat>
                </div> 
            </div>    
            
            <br></br>
            <h4>Part III: Property Belonging to Others</h4>
            <div class="slds-text-heading_medium">
                <div style="height:5rem;word-wrap:break-word;">
                    <table style="width: 100%;table-layout:fixed;border-collapse:collapse;">
                        <tr style="page-break-inside: avoid;">
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Lessor’s Name</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Tax Obligation</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Leased Equipment Type</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Year of Acq.</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Cost to Purchase</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Annual Rent</th>
                            <th style="width: 20px;word-wrap:break-word;border:1px solid silver;">Description</th>
                        </tr>
                        <apex:repeat value="{!LeasedStatementReportedAssets}" var="att1">
                            <tr>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.LessorsName__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.TaxObligation__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.LeasedAssetType__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.AcquisitionYear__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.Cost__c}</td>
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.AnnualRent__c}</td> 
                                <td style="width: 20px;word-wrap:break-word;border:1px solid silver;">{!att1.Description__c}</td> 
                            </tr>
                        </apex:repeat>
                    </table>
                </div>
                <table style="width: 100%;">
                    <tr>
                        <td style="width:100%;word-wrap:break-word;padding-top:15px;">
                            I certify that I have no property to report that belongs to others:
                            <apex:outputText value="{!IF(Statement.NoPropertyBelongingToOthers__c, ' Yes', ' No')}" />
                        </td>
                    </tr>
                </table>
            </div>
            <br></br>
            <h4>Submit</h4>
        	<p>I declare under penalty of perjury under the laws of the State of California that I have examined this property statement, including accompanying schedules, statements or other attachments, and to the best of my knowledge and belief it is true, correct, and complete and includes all property required to be reported which is owned, claimed, possessed, controlled, or managed by the person named as the Assessee in this statement at 12:01 a.m. on January 1, 
                <apex:outputPanel >
                    <apex:outputText value="{0, date, yyyy}">
                        <apex:param value="{!NOW()}" />
                    </apex:outputText>
                </apex:outputPanel>.</p>
             
            <div class="slds-text-heading_medium">
                <div>
                    <table style="width: 100%;table-layout:fixed;">
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;">Signature of assessee or authorized agent</td>
                            <td  style="width: 50%;word-wrap:break-word;">Date</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">
                                <apex:outputText value="{!
                                    SUBSTITUTE(
                                        SUBSTITUTE(Statement.Signature__c, '[', '<p>'),
                                        ']', '</p>'
                                    )
                                }" escape="false"/>
                            </td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">
                                <apex:outputPanel >
                                    <apex:outputText value="{0, date, MM/dd/yyyy}">
                                        <apex:param value="{!Statement.DateofSignature__c}" />
                                    </apex:outputText>
                                </apex:outputPanel>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Name of Assessee or Authorized Agent</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Title of Assessee or Authorized Agent</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.AssesseeorAuthorizedAgentName__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.AssesseeorAuthorizedAgentTitle__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Name of Legal Entity</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Federal Employer ID Number</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.LegalEntityName__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.FEINorEIN__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Preparer's Name and Address</td>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Title of Preparers</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.PreparersName__c}</td>
                            <td style="width: 50%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.PreparersTitle__c}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;word-wrap:break-word;padding-top:5px;">Telephone Number</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 100%;word-wrap:break-word;border:silver 1px solid;min-height:20px;">{!Statement.PreparersPhoneNumber__c}</td>
                        </tr>
                        <tr> 
                            <td colspan="2" style="width: 100%;padding-top:5px;">Remarks</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 100%;word-wrap:break-word;word-break: break-all;border:silver 1px solid;min-height:20px;">{!Statement.Remarks__c}</td>
                        </tr>
                    </table>
                </div> 
        	</div>
		</div>
</apex:page>