<!--Threat Intelligence Passphrase: 9fbef606107a605d69c0edbcd8029e5d*/ -->
<!-- Description : VF page, Calling Aura Compoenent for Submit for Approval as per ASR-8102 and ASR-3504-->
<apex:page >
    <apex:includeLightning />
    <div id="submitForApproval" />
    <script >
    
    var caseIdParam = "{!$CurrentPage.parameters.caseId}";
    var caseSubtype = "{!$CurrentPage.parameters.subType}";
    var caseRecordType = "{!$CurrentPage.parameters.recordType}"; 
    if(caseSubtype == 'Closeout' && caseRecordType == 'BPP Assessment' ){
        $Lightning.use("c:CloseoutSubmitForApproval", function() {
            $Lightning.createComponent("c:CloseoutForApproval", {
                "recordId" : caseIdParam 
            },
                                       "submitForApproval",
                                       function(component) {
                                           console.log("Component created Successfully!!");
                                       }
                                      );
        });
    }else{
        $Lightning.use("c:assessmentAdjustments", function() {
            $Lightning.createComponent("c:AssessmentAdjustmentApprovals", {
                "recordId" : caseIdParam
            },
                                       "submitForApproval",
                                       function(component) {
                                           console.log("Component created Successfully!!");
                                          
                                       }
                                      );
        });
    }
    </script>
</apex:page>