.container-fluid {
     font-family: Lato;
}
.section-heading{
    background-color: rgb(227, 128, 61)!important;
    padding-left: 5px!important;
}
.section-heading h2{
    color:white!important;
}
i.fa.fa-upload{
    padding:5px 40px;
}