<!--
 //-----------------------------
// @author : Publicis Sapient 
// @param : String actionName
// @description : This visualforce component is generic to use for all vf pages on Case, which are calling buttons from different VF pages 
// @ASR-8548 and 8552
//-----------------------------
-->

<apex:component >
    <apex:attribute type="String" name="actionName" description="The 'name' attribute of the Actionfunction to call." />
    <apex:slds />
    <!-- Spinner -->
    <div class="spinner" style="height:6rem">
        <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </div>
    <!-- to show toast and Call action -->
    <script type="text/javascript">
        window.onload = function () {
            window['{!actionName}']();
        };
        function redirectToCase(baseURL, recordStatus) {
            var response = recordStatus;
            if (typeof sforce != 'undefined' && sforce != null) {
                sforce.one.navigateToURL(baseURL, true);
                sforce.one.showToast({
                    "title": "Response",
                    "message": response
                });
            } else {
                sforce.one.back(true);
                sforce.one.showToast({
                    "title": "Error",
                    "message": "Some error occured",
                    "type": "error"
                });
            }

        }
    </script>
</apex:component>