/* .THIS .slds-form {
    min-height: 300px;
} */
.THIS .orange-border-bottom {
    border-bottom: 4px solid rgb(227, 128, 61);
}
.THIS .slds-path__item > span {
    height: calc(2rem - 0.25rem);
    padding: .5rem .25rem .5rem .5rem;
}
.THIS .slds-path__link:hover, .THIS .slds-path__item:hover {
    cursor: default;
}
/* .THIS .slds-is-current {
    color: white;
} */
.THIS .slds-theme_shade {
    background-color: rgb(227, 128, 61);
    color: white;
    font-weight: bold;
}
.THIS .slds-path__nav .slds-is-current .slds-path__link {
    color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-active .slds-path__link {
    color: rgb(255, 255, 255);
    background-color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-active {
    background-color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-current:first-child {
    border-width: 2px 0px 2px 2px;
    border-style: solid solid solid;
    border-color: rgb(33,126,166) rgb(33,126,166) rgb(33,126,166);
    border-image: initial;
    border-right: 0px;
}
.THIS .slds-path__nav .slds-is-current:first-child::before {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(33,126,166), rgb(33,126,166) 0.125rem, transparent 0.125rem);
}

/*adjusting help text position*/
.THIS .customIcon div{
    top: -0.2rem;
    padding-left: 0.2rem;
}

.THIS  .slds-path__nav .slds-is-current:first-child::after {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(33,126,166), rgb(33,126,166) 0.125rem, transparent 0.125rem);
}
.THIS .slds-path__nav .slds-is-active:first-child::before {
    background-color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-active:first-child::after{
    background-color: rgb(33,126,166);
}

.THIS .slds-path__nav .slds-is-active::before { 
    background-color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-active::after {
    background-color: rgb(33,126,166);
}
.THIS .slds-path__nav .slds-is-won .slds-path__link {
    color: white;
}