.entireTemplate{
    background: white;
    padding: 1rem;
    border: 1px solid lightgrey;
}

.slds-page-header{
    background: #e5eaf5 !important;
    border-radius: 0.2rem !important;
    padding: 0.5rem 0.7rem !important;
}